.header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background: #6495ED;
}

.pageContent{
    display: flex;
    justify-content: space-between;
}

.pageLeft{
    width: 25vw;
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageRight{
    width: 25vw;
    background: lightgray;
}

.pageCenter{
    width: 50vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}